section.form {
    padding: 30px 0;
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    form {
        border: 1px solid white;
        padding: 40px;
        padding-bottom: 10px;
        border-radius: 15px;
        .row {
            display: flex;
            flex-wrap: wrap;

            [class^="col"] {
                display: flex;
                flex-direction: column;
                padding: 10px;

                label {
                    margin-bottom: 5px;
                }
            }
        }

        button {
            margin: 20px auto;
            padding: 10px 20px;
            cursor: pointer;
            font-family: "Open Sans";
            background-color: $lightblue;
            border: none;
            color: white;
        }
    }
}
