#comics-details {
    background-color: white;
    .line-break {
        height: 60px;
        background-color: $lightblue;
    }
    .container {
        max-width: 800px;
        position: relative;
    }

    .comic-details-top {
        .comic-thumb {
            width: 150px;
            position: absolute;
            bottom: 105%;
            left: 0;

            img {
                max-width: 100%;
            }
        }

        .row {
            display: flex;
            padding: 50px 0;
            flex-wrap: wrap;

            .alert {
                padding: 20px 10px;
                background-color: lightgreen;
                border-radius: 10px;
                margin-bottom: 15px;
                font-weight: bold;
                color: white;
            }

            .col-8 {
                h3 {
                    color: rgb(28, 92, 151);
                    margin-bottom: 30px;
                    text-transform: uppercase;
                }

                .available {
                    display: flex;
                    border-bottom: 1px solid black;
                    background-color: rgb(85, 186, 89);
                    font-size: 12px;
                    height: 40px;
                    font-weight: bold;

                    span.green-text {
                        color: rgb(169, 234, 107);
                    }

                    .price {
                        padding: 0 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 70%;
                        border-right: 1px solid grey;
                    }

                    .check-availability {
                        width: 30%;
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        .fa-solid {
                            cursor: pointer;
                        }
                    }
                }

                .comic-description {
                    margin-top: 20px;
                    color: #666;
                    font-size: 11px;
                }
            }

            .col-4 {
                flex-basis: calc(100% / 12 * 4);
                max-width: calc(100% / 12 * 4);
                padding-left: 40px;

                h5 {
                    color: #666;
                    margin-bottom: 5px;
                    text-align: end;
                }
            }
        }
    }

    .comic-details-bottom {
        background-color: rgb(246, 246, 246);
        border-top: 1px solid grey;
        color: rgb(0, 63, 96);
        padding: 20px 0;

        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .col {
                flex-basis: 48%;
                max-width: 48%;
                font-weight: bold;
                margin-bottom: 80px;

                h5 {
                    font-size: 16px;
                    margin-bottom: 20px;
                }

                li {
                    padding: 5px 0;
                    border-top: 1px solid lightgray;
                    display: flex;
                    font-size: 11px;

                    &:last-child {
                        border-bottom: 1px solid lightgray;
                    }

                    p {
                        width: 30%;
                    }

                    .details {
                        width: 70%;

                        &.type {
                            text-transform: uppercase;
                        }

                        a {
                            color: rgb(127, 202, 241);
                        }
                    }
                }
            }
            .col-12 {
                text-align: center;
                .btn {
                    display: inline-block;
                    margin: 20px 0;
                    padding: 10px 20px;
                    background-color: $lightblue;
                    color: white;
                }
            }
        }
    }
}
