// @import '~bootstrap/scss/bootstrap'
@import "variables";
@import "generals";
@import "header";
@import "comics";
@import "comics_create";
@import "comics_details";
@import "main_banner";
@import "footer";
